<template>
  <div>
    <combo-bar-line-chart style="width:350px" v-if="isReady" :chartdata="testChartData" :options="options"></combo-bar-line-chart>
  </div>
</template>

<script>
import ComboBarLineChart from "./ComboBarLineChart";

export default {
  name: "ComboBarLineChartContainer",
  components: {
    ComboBarLineChart,
  },
  data() {
    return {
      isReady: true, // 차트가 ready되면 화면에 노출, false일 경우 미노출
      options: {
        //vue-chartjs 홈페이지에서 원하시는 옵션 찾아서 넣으시면 되요.
        //vue-chartjs 공홈에 없을 경우 일반 chartjs 옵션도 넣으실 수 있으니까
        //chartjs 홈페이지에서 doc확인해보시면 됩니다~
      },

      testChartData: {
        labels: ["label1", "label2", "label3"],
        datasets: [
          //line
          {
            label: "lable1",
            type: "line", //타입을 여기서 정해주시면 되요~
            data: [50, 60, 70],
          },

          //bar
          {
            label: "label1",
            type: "bar",
            backgroundColor: "blue",
            stack: 1,
            data: [15, 15, 15],
          },
        ],
      },
    };
  },
};
</script>
