<template>
  <div>
    <combo-bar-line-chart-container></combo-bar-line-chart-container>
  </div>
</template>

<script>
import ComboBarLineChartContainer from "./components/ComboBarLineChartContainer";

export default {
  name: "App",
  components: {
    ComboBarLineChartContainer,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
